requests
google-generativeai
openpyxl
nbformat
beautifulsoup4
python-multipart
aiofiles
PyPDF2
python-docx
python-pptx
fpdf2
crossrefapi
pandas
redis
rq
lancedb==0.8.2
sentence-transformers
uvicorn
fastapi
GitPython
python-dotenv
arxiv
semanticscholar
websockets
